@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-family: 'Roboto Serif', Serif;
    min-height: 100vh;
    display: flex;
}
/* Header */
header{
    width: 100%;
    height: 600px;
    position: relative;


}
nav{
    text-align: center;
    padding-top: 30px;
    margin: auto;
}

.logo{
    align-items: center;
    padding-bottom: 10px;
}

.logo img{
    border-radius: 100%;
    border-style: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}


nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

.texto-nav{
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 30px;
}

/* Form */

.form{
    background-color: white;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 16px;
    padding: 56px 24px;
    margin-top: 150px;
    margin-bottom: 100px;
    
}

.form-container{
    width: 100%;
    display: grid;
    gap: 16px;
    grid-auto-columns: 100%;
}

.form-title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form-input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form-input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em ;
}
.button{
    color: #fff;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 40px;
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    transition: all 0.20s linear;
    -webkit-transition: all 0.20s linear;
    -moz-transition: all 0.20s linear;
    position: relative;
    bottom: 0;
}

.azul {
    background: #04a8bf;
    box-shadow: 0px 5px 0 #0491a5
}

.button:active{
    bottom: -5px;
}

.azul:active{
    box-shadow:0 0 0 #0491a5, inset 0 0 5px rgba(0, 0, 0, 0.4);         
}

/* Footer */

footer{
    background: #4f3f99;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #5e4bd8;
}

.content-foo {
    text-align: center;

}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #ffffff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #fff;
}


@media screen and (max-width:900px) {
    .logo {
        grid-template: auto;
    }
    .texto-nav {
        grid-template: auto;
    }
    .form {
        grid-template: 100px /
        200px auto;
    }

    
}

@media screen and (max-width:500px) {
    .logo {
        grid-template: auto;
        padding-right: 0;
        padding-bottom: 10px;
    }
    .texto-nav {
        grid-template: auto;
    }
    .form {
    background-color: white;
    width: 100%;
    margin: auto;
    max-width: 200px;
    border-radius: 10px;
    padding: 56px 24px;
    margin-top: 100px;
    margin-bottom: 50px;
    grid-template: 100px /
    200px auto;
    }

    .form-container{
        width: 90%;
        display: grid;
        grid-auto-columns: 100%;
    }

    .form-title{
        text-align: center;
        font-size: 1.9rem;
        margin-bottom: .4em;
    }
    
    .form-input{
        font-family: inherit;
        font-size: 0.8rem;
        padding: .4em 0.5em;
        outline: none;
        border: none;
        border: 1px solid #bbb0b0;
        border-radius: 0.2em;
    }

    .form-input--message{
        resize: none;
        padding: 1em 0.5em;
        margin-bottom: .5em ;
    }
    .contenedor-footer{
        flex-direction: column;
        border: none;

    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;

    }
    .content-foo h4 {
        border: none;
    }
    .content-foo p{
        color: #ccc;
        border-bottom: 1px  solid #f2f2f2;
        padding-bottom: 20px;

    }
    
}
@media screen and (max-width: 250px) {
    .logo {
    align-items: center;
    padding-right: 0;
    padding-bottom: 10px;
    
    }
}